<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script type="text/javascript" src="../static/js/angular.min.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body ng-app="MovieSearch" ng-controller="MainController">
    <div class="container">
      <div class="jumbotron">
        <h4 style="color: white"> Type the name of a movie to know all about it! </h4>
      </div>
    </div>
    {% raw %}
    <div class ="container">
      <div class="movie-info" ng-show="flag">
        <div class="row">
          <div class="col-md-3">
            <img src="{{movieData.image}}"> </img>
          </div>
          <div class="col-md-9">
            <div class="name">
              <h3 > {{movieData.name}}</h3>
            </div>
            <div class="ratings">
              <div class ="row">
                <div class = "col-md-3">
                  <h5>  IMDB : {{movieData.ratings[0]}}</h5>
                </div>
                <div class = "col-md-3">
                  <h5> Rotten Tomatoes(Critic) {{movieData.ratings[1]}}</h5>
                </div>
                <div class = "col-md-3">
                  <h5> Rotten Tomatoes(User) {{movieData.ratings[2]}}</h5>
                </div>
              </div>
            </div>
            <div class="storyline">
              <p> <strong> Storyline </strong>: {{movieData.storyline}} </p>
            </div>
            <div style="display: inline-block">
              <div><strong>  Cast: </strong></div>
              <div class="cast" ng-repeat="actor in movieData.cast" style="display: inline-block">
                 {{actor + "&nbsp;"}}
              </div>
            </div>
            <!-- <div class="other"> -->
              <div class = "row">
                <div class="col-md-2" ng-repeat="genre in movieData.genres" style="float:left">
                  {{genre + " " }}
                </div>
                <div class="col-md-2">
                  <p> {{movieData.pgrating}} </p>
                </div>
                <div class="col-md-2">
                  <p> {{movieData.runtime}} </p>
                </div>
              </div>
            <!-- </div> -->
        </div>
        <div class="container">
          <div class="reviews">
            <h3> Reviews </h3>
            <div class="review" ng-repeat="review in movieData.reviews">

              <p> {{review}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endraw %}
        <div class="container">
        <form ng-submit="scrapePic()" style="text-align: center">
        <!-- <form action="py/data.py" method="post" enctype="multipart/form-data"> -->
          <div class="form-group">
            <!-- <input type="file" id="file" name="upload" accept="image/*;capture=camera"> -->
            <!-- <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" accept="image/*;capture=camera"/> -->
          <input type="text" ng-model="movieName"></input>
          <div>
              <button type="submit" class="btn btn-primary" style="margin-top:20px">Submit</button>
            </div>
          </div>

        </form>
    </div>
  </body>
</html>
